@use "../base/mixins";
@forward "catalog_el/card";
@forward "catalog_el/tab";

.catalog {
    position: relative;
    // top: 20rem;
    @include mixins.flex(column, center, flex-start);
    gap: 30rem;

    position: relative;
    width: 1110rem;
    height: 1564rem;
    left: 165rem;
    @include mixins.tablet{
        left: 0rem;
        width: 690rem;
        height: 2323rem;

    }
    @include mixins.phone{
        width: 510rem;
        height: 1709rem;
        left: 0rem;


        gap: 20px;


    }
    &__tabs {
        @include mixins.flex(row, space-between, flex-start);
        // gap: 30rem;

        width: 1110rem;
        height: 44rem;
        @include mixins.tablet{
            width: 690rem;
            height: 43rem;

        }
        @include mixins.phone{
            flex-direction: column;
            width: 408rem;
            height: 87rem;

        }
        &__span {
            width: 255rem;
            height: 44rem;
            color: #2C2D35;
            @include mixins.font('Raleway', 500, 40rem, 110%);

            @include mixins.tablet{
                width: 194rem;
                height: 33rem;
                @include mixins.font('Raleway', 500, 30rem, 110%);

            }
            @include mixins.phone{
                width: 194rem;
                height: 33rem;
                @include mixins.font('Raleway', 500, 24rem, 110%);

            }
        }
        &__buttons {
            @include mixins.flex(row, space-between, flex-start);

            width: 428rem;
            height: 43rem;

            flex: none;
            order: 1;
            flex-grow: 0;

            @include mixins.tablet{
                width: 433rem;
                height: 43rem;
            }
            @include mixins.phone{
                width: 408rem;
                height: 41rem;

            }
        }
        &__btn {
            @include mixins.flex(row, center, center);

            flex: none;
            order: 0;
            flex-grow: 0;
        }
    }
    &__cards {
        @include mixins.flex(row, none, flex-start);
        padding: 0rem;
        gap: 30rem;

        width: 1110rem;
        height: 1490rem;

        flex-wrap: wrap;
        flex: none;
        order: 1;
        flex-grow: 0;
        @include mixins.tablet{
            width: 690rem;
            height: 2250rem;


        }
        @include mixins.phone{
            width: 510rem;
            height: 1602rem;

        }

    }
}

