@use "../base/mixins";
@forward "phone";
@forward "nav";

.footer {
    position: relative;
    width: 1440rem;
    height: 168rem;

    padding: 23rem 0;

    background: #E1EDE6;
    @include mixins.flex(row, center, none);

    @include mixins.tablet{
        width: 768rem;
        height: 250rem;
    }
    @include mixins.phone{
        width: 576rem;
        height: 319rem;
    }

    &__content {
        @include mixins.flex(row, space-between, none);
        width: 978rem;
        @include mixins.tablet{
            @include mixins.flex(row, flex-start, none);
            flex-wrap: wrap;
            padding: 0 39rem;
            row-gap: 30rem;
            column-gap: 75rem;
        }
        @include mixins.phone{
            @include mixins.flex(row, center, none);
            flex-wrap: wrap;
            padding: 0 39rem;
            row-gap: 30rem;
            column-gap: 75rem;
        }
    }
    &__info {
        height: 122rem;
        width: 170rem;
        @include mixins.flex(column, space-between, none);

        @include mixins.tablet{
            @include mixins.flex(row, space-between, none);
            width: 690rem;
            height: 52rem;
        }
        @include mixins.phone{
            @include mixins.flex(row, space-between, none);
            width: 510rem;
            height: 50rem;
        }
    }
    &__logo {
        width: 143rem;
        height: 35rem;
    }
    &__copyrights {
        @include mixins.flex(column, none, flex-start);
        gap: 10rem;

        width: 132rem;
        height: 68rem;
        &_span {
            gap: 6rem;
            width: 132rem;
            height: 34rem;

            @include mixins.font('Raleway', 500, 12rem, 120%);

            color: #86928B;

            flex: none;
            order: 0;
            flex-grow: 0;

            @include mixins.phone{
                width: 176rem;
                height: 14rem;
            }
        }
        @include mixins.phone{
            @include mixins.flex(column, center, center);

            width: 176rem;
            height: 48rem;
        }
    }
    &__social {
        @include mixins.flex(row, none, flex-start);
        gap: 30rem;

        width: 132rem;
        height: 24rem;

        flex: none;
        order: 0;
        flex-grow: 0;
        &-icon {
            width: 24rem;
            height: 24rem;

            flex: none;
            order: 0;
            flex-grow: 0;
        }
    }

}
