@use 'mixins';

html {
    @include mixins.laptop{
        font-size: calc(1vw / 14.4);
    }
    @include mixins.tablet{
        font-size: calc(1vw / 7.68);
    }
    @include mixins.phone{
        font-size: calc(1vw / 5.76);
    }
}
